<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <h1 class="alert alert-success" th:if="${success}" th:text="${success}"></h1>
            <h1 class="alert alert-danger" th:if="${error}" th:text="${error}"></h1>
            <div class="card-body">
                <h4 class="card-title">Đổi mật khẩu</h4>
                <form class="forms-sample" method="post" th:action="@{/admin/luu-tai-khoan}" th:object="${user}" role="form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                        <span class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="password_old">Mật khẩu cũ</label>
                        <input type="password" th:field="*{old_password}" class="form-control" id="password_old" placeholder="Mật khẩu cũ"
                            name="old_password">
                        <span class="text-danger" th:errors="*{old_password}" th:if="${#fields.hasErrors('old_password')}"></span>
                    </div>
                    <div class="form-group">
                        <label for="password_new">Mật khẩu mới</label>
                        <input type="password" th:field="*{new_password}" class="form-control" id="password_new" placeholder="Mật khẩu mới"
                            name="new_password">
                        <span class="text-danger" th:errors="*{new_password}" th:if="${#fields.hasErrors('new_password')}"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a class="btn btn-light" href="/admin/tai-khoan">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>